.fullimg img
{
	width: 100%;
}
.fullimg2 img
{
	width: 90%;
}
body{
	
}
.tops
{
	margin-top: 20px;
}
h2{
	font-family: 'Tangerine', serif;
  font-size: 60px;
  text-shadow: 4px 4px 4px #aaa;
  color:#80161a;

}
.tops{
	font-weight:bold;
}
.wrapper
{
	border: 0;
}

.dropdown-menu
{
	background: rgba(49, 60, 97, .90);
}

.blue
{
	color: #313c61;
}

